@import url("./InteractionsDetails/interactionsDetails.scss");
@import url("./InteractionRow/interactionRow.scss");
@import url("./InteractionRow/InteractionListColumn/interactionListColumn.scss");
// @import url("./InteractionRow/InteractionChannelColumn/");

.interactions-list {
  padding-bottom: 18px;
}

.custom-list-interaction {
  &__header {
    // display: flex;
    //flex-direction: row;

    //background: #f9f9fa;
    display: grid;
    align-items: center;
    border-bottom: 1px solid #d2d3d6;
    height: 72px;
    align-items: center;
    padding: 0px 20px;

    &::-webkit-scrollbar {
      visibility: hidden;
    }

    &_scrollable {
      overflow-y: scroll;
    }
  }

  &__body {
    &_scrollable {
      height: 500px;
      overflow-y: scroll;
    }
  }
}

