.interaction-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;

  &__buttons {
    padding: 0 18px 18px 18px;
    text-align: right;
    display: flex;
    gap: 18px;
    flex-direction: row;
    justify-content: flex-end;
  }
}
