.custom-textarea {
  &__buttons {
    padding-right: 6px;
    display: flex;
  }

  &__wrapper {
    color: black;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
    margin-top: 8px;
    padding: 8px;

    opacity: 1;

    border: 1px solid var(--medpult-field-border-color);
    border-radius: 7px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_open {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow: none;
    }

    &_invalid {
      border-color: var(--medpult-alert-color);
    }
  }

  &__textareaa {
    width: 100%;
    height: 100%;
    padding-left: 6px;
    user-select: text;
    outline: none;
    border: none;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-family: Inter;
    font-size: 14px;
    resize: none;
  }
}

.button__wrapper {
  width: 30px;
  height: 30px;
  background-color: red;
}
