.interaction-column {
  display: flex;
  gap: 8px;
  align-items: center;

  height: 100%;
  overflow: hidden;

  & > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  &__link {
    & > span {
      cursor: pointer;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #4588e5;
    }

    & > span:hover {
      border-bottom: 2px solid #4588e5;
      margin-top: 2px;
    }

    & > span:active {
      opacity: 0.6;
    }
  }
}
