.modal-textarea {
  white-space: pre-wrap;
  height: 100%;
  overflow-y: auto;

  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  color: rgb(0, 0, 0);

  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
  }

  &__label {
    color: #6b6c6f;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
  }
}