@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("./reset.scss");
@import url("./App/components/CustomSelect/customSelect.scss");
@import url("./App/components/CustomSelectRow/customSelectRow.scss");
@import url("./App/components/CustomInput/customInput.scss");
@import url("./App/components/CustomTextarea/customTextarea.scss");
@import url("./App/components/CustomText/customText.scss");
@import url("./App/components/CustomButton/customButton.scss");
@import url("./App/components/InputButton/inputButton.scss");
@import url("./App/components/Loader/loader.scss");
@import url("./App/components/CustomSelectList/customSelectList.scss");
@import url("./App/components/InteractionsForm/interactionsForm.scss");
@import url("./App/components/InteractionsList/interactionsList.scss");
@import url("./App/components/InteractionsList/InteractionsDetails/interactionsDetails.scss");
@import url("./App/components/InteractionsList/InteractionsDetails/InteractionsDetailsOpen/interactionsDetailsOpen.scss");
@import url("./App/components/InteractionsHeader/interactionsHeader.scss");
@import url("./App/components/InteractionsHeader/ChannelDropdown/channelDropdown.scss");
@import url("./App/components/InteractionsModal/interactionsModal.scss");
@import url("./UIKit/shared/style.scss");

:root {
  --medpult-bg-color: #f2f4f6;
  --medpult-panel-color: white;
  --medpult-hover-color: #f8f8f8;
  --medpult-field-border-color: #d9d9d9;
  --medpult-blue-active-color: #64c3f4;
  --medpult-blue-link-color: #5295fa;
  --medpult-alert-color: #ff0505;
}

// Панель фильтрации
.filter-panel {
  margin-bottom: 15px;
  &__list {
    list-style-type: none;
  }
}

// Сброс стандартных стилей фильтров
.filter-panel__item--rp .button-add-element {
  display: none !important;
}

.filter-panel__item--team .button-add-element {
  display: none !important;
}
