@import url('ChannelDropdown/channelDropdown.scss');

.interaction-header {
  font-family: Inter;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  &__channel {
    position: relative;
    width: 100%;
  }

  &__label {
    position: absolute;
    top: -8px;
    left: 12px;
    background: #ffffff;
    padding: 0 4px;
    pointer-events: none;
    z-index: 2;

    font-size: 12px;
    font-weight: 400;
    color: #565a62;
    line-height: 16px;
    letter-spacing: 0.25px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
